body, html {
    height: 100%;
    margin: 0;
    width: 100%
}
h1{
    color:#c4e3f3;
    font-size: 40px;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.header{
    background-image: url("/img/headerimage.jpg");
    height: 100px;
    width:100%;
    alignment: top;
}
.logo{
    background-image:url("/img/Icon.jpg");
    background-position: left;

    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width:100%;
}

body {
    /* The image used */
    background-image: url("/img/background.jpg");
    font-family: "Lato", sans-serif;
    /* Full height */
    height: 100%;
    width: 100% ;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer { position: fixed;  right: 0;
    bottom: 0;
    width: 100%;      text-align: center;
}


.dropdown {
    float: right;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: black;
    color: white;
    padding: 5px 50px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;

}



/*Navigation*/


@media (min-width: 765px) {


    nav.sidebar .navbar-nav > li{
        border-bottom: 1px black solid;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: black;
    } nav.sidebar{

          width: 200px;
          height: auto;
          margin-left: -160px;
          float: left;
          margin-bottom: 0px;
          background: black;
      }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }
}

/* Home Page*/
